<%= form_with(model: match) do |form| %>
  <% if match.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(match.errors.count, "error") %> prohibited this match from being saved:</h2>

      <ul>
        <% match.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :winning_member_id %>
    <%= form.collection_select :winning_member_id, Member.order(:name), :id, :full_name, prompt: true, include_blank: false %>
  </div>

  <div class="field">
    <%= form.label :losing_member_id %>
    <%= form.collection_select :losing_member_id, Member.order(:name), :id, :full_name, prompt: true, include_blank: false %>
  </div>

  <div class="field">
    <%= form.label :draw %>
    <%= form.check_box :draw %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
