<p id="notice"><%= notice %></p>

<h1>Matches</h1>

<table>
  <thead>
    <tr>
      <th>Captured on</th>
      <th>Draw</th>
      <th>Winning member</th>
      <th>Losing member</th>
    </tr>
  </thead>

  <tbody>
    <% @matches.each do |match| %>
      <tr>
        <td><%= match.created_at.strftime("%F") %></td>
        <td><%= match.draw %></td>
        <td><%= match.winning_member.full_name %></td>
        <td><%= match.losing_member.full_name %></td>
      </tr>
    <% end %>
  </tbody>
</table>
