<!DOCTYPE html>
<html>
  <head>
    <title>Hardstuck</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <h1>Hardstuck</h1>
    <%= link_to 'Leaderboard', members_path %>
    |
    <%= link_to 'Add Member', new_member_path %>
    |
    <%= link_to 'Capture Match', new_match_path %>
    |
    <%= link_to 'List Matches', matches_path %>
    <%= yield %>
  </body>
</html>
